@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* font-family: 'Inter', sans-serif; */

main {
  font-family: "Inter", sans-serif;
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

main section {
  max-width: 340px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section label {
  font-size: 25px;
  color: #f3bf99;
}

main section p {
  font-size: 13px;
  line-height: 1.4rem;
  margin-top: 0.3rem;
}
