footer {
  width: 100vw;
  background-color: #161619;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
}

footer img {
  width: 50px;
  filter: grayscale(1);
  transition: 0.2s;
}

footer img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  cursor: pointer;
}
