@import "../../sass/fonts";
@import "../../sass/colors";

.footer {
  padding: 2rem;
  text-align: center;

  &__signature {
    @include fontFamilyQwigley;
    color: rgb(54, 54, 54);
    font-size: clamp(30px, 5vw, 60px);
    letter-spacing: 0.2rem;
  }
}
