.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__signature {
  font-size: 3rem;
  font-family: "Qwigley", cursive;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
