@import "./sass/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  background-color: $darkBlue;
  color: $white;

  padding: 0 2rem;
}

.lightMode {
  background-color: $white;
  color: $black;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/white/white-contour-c990a61f.svg");
  background-size: cover; /* Make the image cover the entire background area */
  background-position: center; /* Center the image on the background area */

  transition: 400ms ease-in-out;
}

// SCROLLBAR
body::-webkit-scrollbar {
  display: none;
}
