.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homepage__title {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 8rem;
  color: var(--blue);
  text-align: center;
}

.homepage__title-api {
  color: var(--green);
}
