@import "../../sass/colors";
@import "../../sass/fonts";

.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include fontFamilyInter;
    color: $blue;

    font-size: clamp(40px, 6vw, 100px);
    text-align: center;
    text-shadow: 3px 3px 2px black;
  }

  &__title-api {
    color: $green;
    font-size: clamp(30px, 4vw, 70px);
  }
}
