.component-11 {
  display: flex;
  justify-content: center;
  max-width: 48rem;
  border-radius: 6px;
  padding: 0 1rem 1rem 0;
}

.component-11 .component-3 .card-heading {
  border-bottom: 2px solid black;
  max-width: 3rem;
}

.calender-container {
  display: flex;
  align-items: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
}

.component-11 .second-section p {
  font-size: 12px;
}

/* Första boxen */
.component-11 figure:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem 5rem 2rem 1rem;
  gap: 1rem;
}

/* Andra boxen */
.component-11 figure:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

/* h2 || Mål med modul */
.component-11 h2 {
  margin-bottom: 0.5rem;
}

.component-11 .component-4 ul button {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
}
