.component-2 {
  display: flex;
}

/* Buttons */
.component-2 .button {
  background-color: rgba(234, 72, 72, 1);
  border-radius: 4px;
  padding: 8px 100px;
  color: white;
  border: none;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(15px, 1vw, 20px);
  width: 100%;
}

@media (max-width: 750px) {
  .component-2 .button {
    padding: 8px 30px;
  }
}
