<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="component-1.css" />
    <link rel="stylesheet" href="component-2.css" />
    <link rel="stylesheet" href="component-3.css" />
    <link rel="stylesheet" href="component-4.css" />
    <link rel="stylesheet" href="component-5.css" />
    <link rel="stylesheet" href="component-6.css" />
    <link rel="stylesheet" href="component-7.css" />
    <link rel="stylesheet" href="component-8.css" />
    <link rel="stylesheet" href="component-9.css" />
    <link rel="stylesheet" href="component-10.css" />
    <title>Komponent-övning</title>
  </head>
  <body>
    <main>
      <section class="component-1">
        <nav class="userlist-topbar userlist-topbar-text">
          <a href="#">planering</a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#">dashboard</a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#"><b>kursvy</b></a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#">bedömning</a>
        </nav>
      </section>

      <section class="component-2">
        <button class="button">Ok, klar!</button>
      </section>
      <!-- <section class="component-3">
        <aside class="module">
          <h2 class="text-heading">01</h2>
          <img src="/img/Rectangle 25.svg" />
          <p class="module-text">2 studiedagar</p>
        </aside>
        <aside class="lession-card">
          <h2 class="card-heading">Mål med modul</h2>
          <p class="card-text-medium">
            <span>1</span>
            Paradigm shift series A financing social media startup backing
            android.
          </p>
          <p class="card-text-medium">
            <span>2</span>
            Paradigm shift series A financing social media startup backing
            android.
          </p>
        </aside>
      </section> -->
      <section class="component-4">
        <ul>
          <button>ej påbörjat</button>
          <button>förstår inte</button>
          <button>förstår delvis</button>
          <button>förstår helt</button>
        </ul>
      </section>

      <section class="component-5">
        <img src="../img/videocam.svg" alt="" />
        <p class="card-text-small">Super awesome video</p>
      </section>

      <section class="component-6">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <p class="card-text-medium">
          Fäll ihop avklarade Moduler och Aktiviteter
        </p>
      </section>
      <section class="component-7">
        <p class="card-text-medium">Lorem ipsum dolor sit amet, consectetu</p>
        <div class="scale">
          <p class="card-text-extra-small">förstår inte</p>
          <div class="slidecontainer">
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              class="lineSlider"
            />
          </div>
          <p class="card-text-extra-small">Förstår allt</p>
        </div>
      </section>
      <section class="component-8">
        <p class="card-text-extra-small">
          Här står ett väldigt konkret modulmål som kan vara ganska långt
          beskrivet
        </p>
      </section>
      <section class="component-9">
        <p class="card-text-extra-small">
          Här står ett väldigt konkret modulmål
        </p>
      </section>
      <section class="component-10">
        <p class="card-text-extra-small">Kort modulmål</p>
      </section>
    </main>
  </body>
</html>
