<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="component-1.css" />
    <link rel="stylesheet" href="component-2.css" />
    <link rel="stylesheet" href="component-3.css" />
    <link rel="stylesheet" href="component-4.css" />
    <link rel="stylesheet" href="component-5.css" />
    <link rel="stylesheet" href="component-6.css" />
    <link rel="stylesheet" href="component-7.css" />
    <link rel="stylesheet" href="component-8.css" />
    <link rel="stylesheet" href="component-9.css" />
    <link rel="stylesheet" href="component-10.css" />
    <link rel="stylesheet" href="component-11.css" />
    <link rel="stylesheet" href="component-12.css" />
    <title>Komponent-övning</title>
  </head>
  <body>
    <main>
      <!-- COMPONENT 1 -->
      <section class="component-1">
        <nav class="userlist-topbar userlist-topbar-text">
          <a href="#">planering</a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#">dashboard</a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#"><b>kursvy</b></a>
          <img src="../img/Rectangle 71.svg" />
          <a href="#">bedömning</a>
        </nav>
      </section>

      <!-- COMPONENT 2 -->
      <section class="component-2">
        <button class="button">Ok, klar!</button>
      </section>

      <!-- COMPONENT 3 -->
      <section class="component-3">
        <figure>
          <p class="card-heading">01</p>
          <p class="card-heading">2 studiedagar</p>
        </figure>
        <figure>
          <h2 class="card-heading">Mål med modul</h2>
          <p class="card-text-medium">
            <span>1</span>Paradigm shift series A financing social media startup
            backing android.
          </p>
          <p class="card-text-medium">
            <span>2</span>Paradigm shift series A financing social media startup
            backing android.
          </p>
        </figure>
      </section>

      <!-- COMPONENT 4 -->
      <section class="component-4">
        <ul>
          <button>ej påbörjat</button>
          <button>förstår inte</button>
          <button>förstår delvis</button>
          <button>förstår helt</button>
        </ul>
      </section>

      <!-- COMPONENT 5 -->
      <section class="component-5">
        <img src="../img/videocam.svg" alt="" />
        <p class="card-text-small">Super awesome video</p>
      </section>

      <!-- COMPONENT 6 -->
      <section class="component-6">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <p class="card-text-medium">
          Fäll ihop avklarade Moduler och Aktiviteter
        </p>
      </section>

      <!-- COMPONENT 7 -->
      <section class="component-7">
        <p class="card-text-medium">Lorem ipsum dolor sit amet, consectetu</p>
        <div class="scale">
          <p class="card-text-extra-small">förstår inte</p>
          <div class="slidecontainer">
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              class="lineSlider"
            />
          </div>
          <p class="card-text-extra-small">Förstår allt</p>
        </div>
      </section>

      <!-- COMPONENT 8 -->
      <section class="component-8">
        <p class="card-text-extra-small">
          Här står ett väldigt konkret modulmål som kan vara ganska långt
          beskrivet
        </p>
      </section>

      <!-- COMPONENT 9 -->
      <section class="component-9">
        <p class="card-text-extra-small">
          Här står ett väldigt konkret modulmål
        </p>
      </section>

      <!-- COMPONENT 10 -->
      <section class="component-10">
        <p class="card-text-extra-small">Kort modulmål</p>
      </section>

      <!-- COMPONENT 11 -->
      <!-- LÄGG TILL SÅ 1:A FIGURE HAR TEXT BREDVID KALENDER-BILDEN. -->
      <section class="component-11">
        <figure class="component-3">
          <p class="card-heading">1.2</p>
          <p class="card-text-small">
            <img src="../img/calendar-outline.svg" />
            <b>3 okt.</b> 09.00 - 16.00 <br />@zoom
          </p>
        </figure>
        <figure>
          <h2 class="card-heading">
            Tillgänglighet - en grundläggande rättighet
          </h2>
          <section class="component-9">
            <p class="card-text-extra-small">
              Här står ett väldigt konkret modulmål
            </p>
          </section>
          <p class="card-text-medium">
            Responsive web design agile development funding MVP alpha channels.
            User experience beta branding supply chain social proof scrum
            project ramen influencer hypotheses termsheet.
          </p>
          <section class="component-5">
            <img src="../img/document-outline.svg" alt="" />
            <p class="card-text-small">PDF artikel om bananböjning</p>
          </section>
          <section class="component-5">
            <img src="../img/videocam.svg" alt="" />
            <p class="card-text-small">Super awesome video</p>
          </section>
          <section class="component-4">
            <ul>
              <button>ej påbörjat</button>
              <button>Har försökt, förstår inte</button>
              <button>Jomen det går ok</button>
              <button>I am a ninja!</button>
            </ul>
          </section>
        </figure>
      </section>
      <!-- COMPONENT 12 -->
      <section class="component-12">
        <div class="picture-container"></div>
        <div class="button-container">
          <div class="text-container">
            <p class="card-text-medium">En awesome kurs i grejer</p>
            <p class="card-text-small">Med lärare lärarsson</p>
          </div>
          <button>Planera</button>
          <button>Kursvy</button>
          <button>Översikt</button>
          <button>Bedömning</button>
        </div>
      </section>
    </main>
  </body>
</html>
